[submodule "libfm"]
	path = libfm
	url = https://github.com/lxde/libfm.git
	branch = master
[submodule "menu-cache"]
	path = menu-cache
	url = https://github.com/lxde/menu-cache.git
	branch = master
[submodule "liblxqt"]
	path = liblxqt
	url = https://github.com/lxqt/liblxqt.git
	branch = master
[submodule "libqtxdg"]
	path = libqtxdg
	url = https://github.com/lxqt/libqtxdg.git
	branch = master
[submodule "lxqt-about"]
	path = lxqt-about
	url = https://github.com/lxqt/lxqt-about.git
	branch = master
[submodule "lxqt-powermanagement"]
	path = lxqt-powermanagement
	url = https://github.com/lxqt/lxqt-powermanagement.git
	branch = master
[submodule "pcmanfm-qt"]
	path = pcmanfm-qt
	url = https://github.com/lxqt/pcmanfm-qt.git
	branch = master
[submodule "libsysstat"]
	path = libsysstat
	url = https://github.com/lxqt/libsysstat.git
	branch = master
[submodule "lxqt-runner"]
	path = lxqt-runner
	url = https://github.com/lxqt/lxqt-runner.git
	branch = master
[submodule "lxqt-policykit"]
	path = lxqt-policykit
	url = https://github.com/lxqt/lxqt-policykit.git
	branch = master
[submodule "lxqt-panel"]
	path = lxqt-panel
	url = https://github.com/lxqt/lxqt-panel.git
	branch = master
[submodule "lxqt-openssh-askpass"]
	path = lxqt-openssh-askpass
	url = https://github.com/lxqt/lxqt-openssh-askpass.git
	branch = master
[submodule "lxqt-notificationd"]
	path = lxqt-notificationd
	url = https://github.com/lxqt/lxqt-notificationd.git
	branch = master
[submodule "lxqt-config"]
	path = lxqt-config
	url = https://github.com/lxqt/lxqt-config.git
	branch = master
[submodule "lximage-qt"]
	path = lximage-qt
	url = https://github.com/lxqt/lximage-qt.git
	branch = master
[submodule "lxqt-globalkeys"]
	path = lxqt-globalkeys
	url = https://github.com/lxqt/lxqt-globalkeys.git
	branch = master
[submodule "lxmenu-data"]
	path = lxmenu-data
	url = https://github.com/lxde/lxmenu-data.git
	branch = master
[submodule "lxqt-qtplugin"]
	path = lxqt-qtplugin
	url = https://github.com/lxqt/lxqt-qtplugin.git
	branch = master
[submodule "lxqt-session"]
	path = lxqt-session
	url = https://github.com/lxqt/lxqt-session.git
[submodule "lxqt-admin"]
	path = lxqt-admin
	url = https://github.com/lxqt/lxqt-admin.git
[submodule "lxqt-sudo"]
	path = lxqt-sudo
	url = https://github.com/lxqt/lxqt-sudo
[submodule "libfm-qt"]
	path = libfm-qt
	url = https://github.com/lxqt/libfm-qt
	branch = master
[submodule "pavucontrol-qt"]
	path = pavucontrol-qt
	url = https://github.com/lxqt/pavucontrol-qt
[submodule "qtermwidget"]
	path = qtermwidget
	url = https://github.com/lxqt/qtermwidget
[submodule "qterminal"]
	path = qterminal
	url = https://github.com/lxqt/qterminal
[submodule "lxqt-build-tools"]
	path = lxqt-build-tools
	url = https://github.com/lxqt/lxqt-build-tools
[submodule "lxqt-themes"]
	path = lxqt-themes
	url = https://github.com/lxqt/lxqt-themes
[submodule "lxqt-archiver"]
	path = lxqt-archiver
	url = https://github.com/lxqt/lxqt-archiver
[submodule "qps"]
	path = qps
	url = https://github.com/lxqt/qps
[submodule "screengrab"]
	path = screengrab
	url = https://github.com/lxqt/screengrab
